/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties/ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #ffa700;
  --clr-light: #ffffff;
  --clr-dark: #2b2b2b;
  --font: "Poppins", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header {
  position: relative;
  z-index: 99;
  padding: 3rem 0;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.header__nav ul li a {
  color: var(--clr-light);
}
.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5s ease-in-out;
}
.toggle__menu {
  display: none;
}
.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}
@media screen and (max-width: 520px) {
  body {
    padding-top: 120px;
  }
  .header__logo h5 {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header__nav ul {
    background-color: var(--clr-dark);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 1;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease;
    margin-top: 6.5rem;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: 0.5s ease;
  }
}
.banner {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 35rem;
  line-height: 8rem;
}
.banner__text p {
  margin: 3rem 0;
}
@media screen and (max-width: 520px) {
  .banner__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .banner__text h1 {
    font-size: 48px;
    max-width: unset;
    line-height: 5rem;
  }
  .banner__img img {
    width: 20rem;
  }
}
.skills {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.skills__card {
  text-align: center;
}
.skills__card h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 2rem;
}
.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}
@media screen and (max-width: 520px) {
  .skills__wrapper {
    flex-wrap: wrap;
  }
}
.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about__img {
  position: relative;
}
.about__img::before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: var(--clr-primary);
  width: 477px;
  height: 477px;
  border-radius: 100%;
  left: 0;
  opacity: 0.3;
}
.about__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.about__text p:last-child {
  margin-top: 2rem;
}
@media screen and (max-width: 520px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__img img,
  .about__img::before {
    width: 20rem;
    height: 20rem;
  }
  .about__text h2 {
    font-size: 36px;
    text-align: center;
  }
}
.trends {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}
@media screen and (max-width: 520px) {
  .trends__wrapper {
    flex-wrap: wrap;
  }
}
.cta {
  padding: 4rem 0;
  background-color: var(--clr-primary);
}
.cta__info {
  text-align: center;
}
.cta__info h3 {
  font-size: 36px;
  font-weight: 600;
}
.cta__info p {
  margin-bottom: 2rem;
}
@media screen and (max-width: 520px) {
  .cta__info h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
footer {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  gap: 1.5rem;
}
.footer__social li a {
  color: var(--clr-light);
  font-size: 18px;
}
.footer__social li a:hover {
  color: var(--clr-primary);
}
@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
.aboutme {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.aboutme__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15rem;
}
.aboutme__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 35rem;
  line-height: 8rem;
  margin-bottom: 3rem;
}
.aboutme__text p {
  margin-top: 2rem;
  text-align: justify;
}
.aboutme__social {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}
.aboutme__social li a {
  color: var(--clr-primary);
  font-size: 25px;
}
.aboutme__social li a:hover {
  color: var(--clr-dark);
}
@media screen and (max-width: 520px) {
  .aboutme__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    gap: 5rem;
  }
  .aboutme__text h1 {
    font-size: 48px;
    max-width: unset;
    line-height: 5rem;
  }
  .aboutme__img img {
    width: 20rem;
  }
}
.projects {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}
@media screen and (max-width: 520px) {
  .projects__wrapper {
    grid-template-columns: 1fr;
  }
}
.services {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}
.services__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 4rem;
}
.services__text p {
  margin-top: 2rem;
  text-align: justify;
}
.services__text p:nth-child(3) {
  margin-bottom: 4rem;
}
.services__text h3 {
  font-size: 36px;
  font-weight: 600;
  color: var(--clr-primary);
}
.services__text h6 {
  font-size: 14px;
  font-weight: 400;
}
.services__items:nth-child(even) {
  background-color: var(--clr-dark);
}
.services__items:nth-child(even) .services__wrapper {
  direction: rtl;
}
.services__items:nth-child(even) .services__wrapper > * {
  direction: ltr;
}
.services__items:nth-child(even) .services__text p,
.services__items:nth-child(even) .services__text h6 {
  color: var(--clr-light);
}
.services__items:last-child a {
  display: none;
}
@media screen and (max-width: 520px) {
  .services__wrapper {
    justify-items: center;
    gap: 5rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .services__text h2 {
    font-size: 36px;
    text-align: center;
  }
  .services__text h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .services__img img {
    width: 20rem;
  }
}
.updates {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.updates__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 4rem;
}
.updates__img img {
  padding-top: 4rem;
  width: 100%;
}
.updates__text {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding-bottom: 8rem;
}
.updates__text:last-child {
  box-shadow: none;
}
.updates__details {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.updates__details li a {
  color: var(--clr-dark);
  font-size: 15px;
}
.updates__details h6 {
  padding-right: 5rem;
  font-size: 14px;
  font-weight: 400;
}
.updates h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--clr-primary);
  padding: 1rem 0;
}
.updates__text p {
  padding: 3rem 0;
}
.updates__right h4 {
  padding: 6rem 0 4rem;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding-bottom: 8rem;
}
.categories p {
  padding: 1rem 0;
}
.categories p:nth-child(even) {
  padding-left: 20rem;
  margin: auto;
}
.post {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding-bottom: 8rem;
}
.post__img img {
  padding-top: 3rem;
}
.post__text h5 {
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  padding-top: 3rem;
}
.post__text p {
  padding-top: 3.5rem;
}
.tags .btn {
  padding: 1.5rem 2.5rem;
  margin: 1rem;
}
@media screen and (max-width: 520px) {
  .updates__wrapper {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .updates h4 {
    font-size: 20px;
    padding: 3rem 0;
  }
  .updates__text:last-child {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .updates__details {
    display: grid;
    grid-template-columns: 1fr;
  }
  .updates__details li {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
}
.contacts {
  padding: 4rem 0;
  background-color: var(--clr-dark);
  border-bottom: #ffffff 1px solid;
  height: 80vh;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 10rem;
}
.contacts__left p {
  color: var(--clr-light);
  padding: 2rem 0;
}
.contacts__details li {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contacts__details a {
  color: var(--clr-primary);
  font-size: 25px;
}
.contacts__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.contacts__social li a {
  color: var(--clr-light);
  font-size: 25px;
}
.contacts__social li a:hover {
  color: var(--clr-primary);
}
.contacts__right form {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contacts__right .btn.bg--primary {
  padding: 2rem 3rem;
  margin: 1rem;
  width: 18rem;
  align-self: flex-end;
}
.contacts__right input {
  padding: 1.5rem;
}
.contacts__right textarea {
  padding: 1.5rem;
  resize: none;
  height: 15rem;
}
@media screen and (max-width: 520px) {
  .contacts__wrapper {
    grid-template-columns: 1fr;
  }
  .contacts {
    height: 100%;
  }
  .contacts__right form {
    padding: 0;
  }
}
/* ASSETS */
.title {
  padding-bottom: 2rem;
}
.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}
.trends .title p,
.projects .title p {
  color: var(--clr-light);
}
.cards {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.cards img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}
.cards__details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  left: 3.5rem;
  background: var(--clr-light);
  width: 28rem;
  padding: 0 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.cards__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}
.cards__details p {
  margin-bottom: 3rem;
}
.cards:hover img {
  height: 50rem;
  transform: scale(1.2);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.cards:hover .cards__details {
  height: 45%;
  transition: all 0.5s ease-in-out;
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.btn.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.btn.bg--dark:hover {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.btn.bg--light {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.btn.bg--light:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.arrow {
  color: var(--clr-primary);
  font-size: 36px;
  display: grid;
  place-content: center;
  padding-bottom: 4rem;
}
@media screen and (max-width: 520px) {
  .title h2 {
    font-size: 36px;
  }
  .cards__details {
    width: 34rem;
  }
}
